<!DOCTYPE html>
<html>
  <head>
    <title>SearchBar Partial</title>
    <meta charset="UTF-8" />
    <script src="https://use.fontawesome.com/ebf683e40c.js"></script>
    <link href="css/main.css" rel="stylesheet" />
  </head>

  <body>
    <div class="header">
      <form method="post" action="/submit">
        <div class="row searchbar">
          <div class="col-1">
          </div>
          <div class="col-3">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle btn-block"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Currency
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">NZD</a>
                <a class="dropdown-item" href="#">AUD</a>
                <a class="dropdown-item" href="#">EUR</a>
                <a class="dropdown-item" href="#">YEN</a>
                <a class="dropdown-item" href="#">USD</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <input
              name="location"
              class="form-control mr-sm-2"
              type="search"
              placeholder="Location"
              aria-label="budget"
            />
          </div>

          <div class="col-3">
            <input
              name="budget"
              class="form-control mr-sm-2"
              type="search"
              placeholder="Budget"
              aria-label="budget"
            />
          </div>
          <div class="col-2">
            <button action="/submit-student-data" method="post" type="submit" class="searchbtn">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script>
      function submitData() {
        console.log("Start submitting");
        $.ajax({
          url: "/submit-student-data",
          type: "post",
          dataType: "text",
          async: false,
          success: function (result) {
            console.log(result);
          },
        });
      }
    </script> -->
  </body>
</html>
