.background {
  background: url("../img/header-bg.jpg") center;
  background-size: cover;
  height: 100vh;
}

.logo {
  position:absolute;
  padding: 1em 0em 1em 3em;
  font-size: 2em;
  font-weight: 500;
  color: #cc9966;
  left:0;
  top:0;
}

.search {
  padding-top: 10em;
  width: 80%;
}

.map{
  padding-top: 1em;
  min-height: 500px;
}

#map{
  height: 100% !important;
  width: 100% !important;
}

.container p, .container ul {
  color: #ffffff;
}

.searchbar {
  margin: auto;
}

.fa-search {
  color: #ffffff;
  font-size: 2em;
}

.fa-search:hover {
  color: #cc9966;
  font-size: 2em;
}

.searchbtn {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.searchbtn:hover {
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.searchbar .btn-secondary {
  background-color: #cc9966;
  border-color: #cc9966;
}

.searchbar .btn-secondary:hover {
  background-color: #cc9966;
  border-color: #cc9966;
}

.searchbar .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #cc9966;
  border-color: #cc9966;
}

input {
  outline-color: #cc9966;
}